%header.clearfix
  .pull-left
    = link_to "/" do
      .icon_box
        %i.fa.fa-bug.fa-2x
  - if current_user
    .pull-right.height_100
      = link_to destroy_user_session_path, method: :delete, class: "header_link_container" do
        .header_content
          %span ログアウト
  - else
    .pull-right.height_100
      .header_content.header_link_container
        %button.btn.btn-default.user-avator{"data-target": "#modal_login", "data-toggle": "modal", type: "button"} ログイン
  - unless current_user
    .pull-right
      .header_content.header_link_container
        %button.btn.btn-default.user-avator{"data-target": "#modal_signup", "data-toggle": "modal", type: "button"} アカウント作成
  .pull-right
    =link_to "/signup_login", class: "header_link_container" do
      .header_content
        %span ヘルプ
  .pull-right
    =link_to new_room_path, class: "header_link_container" do
      .header_content
        %span ホストになる


/ Modal login
#modal_login.modal.fade{"aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title.text-center ログインして下さい
      .modal-body
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .form-group
            .field
              = f.label :email
              %br/
              = f.email_field :email, autofocus: true, class: 'form-control'
            .field
              = f.label :password
              %br/
              = f.password_field :password, autocomplete: "off", class: 'form-control'
            - if devise_mapping.rememberable?
              .field
                = f.check_box :remember_me
                = f.label :remember_me
            .actions
              = f.submit value: 'ログイン', class: 'btn btn-block btn-danger btn-lg form-control'

        = render "devise/shared/links"
        %span アカウントをお持ちではないですか？
        %button.btn.btn-default.user-avator{"data-target": "#modal_signup", "data-toggle": "modal", type: "button"}  登録

/ Modal signup
#modal_signup.modal.fade{"aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title.text-center 登録してください
      .modal-body
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          .form-group
            .field
              = f.label :name
              %br/
              = f.text_field :name, autofocus: true, class: 'form-control'
            .field
              = f.label :email
              %br/
              = f.email_field :email, class: 'form-control'
            .field
              = f.label :password
              - if @minimum_password_length
                %em
                  (#{@minimum_password_length} characters minimum)
              %br/
              = f.password_field :password, autocomplete: "off", class: 'form-control'
            .field
              = f.label :password_confirmation
              %br/
              = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
            .actions
              = f.submit "登録", class: 'btn btn-block btn-danger btn-lg form-control'
        = render "devise/shared/links"

