= render 'header'
= render 'card_swipe'

.page-container
  = render 'search_form'
  .rooms-container
    %h3 最近見た物件
    .room-container
      = image_tag 'https://a0.muscache.com/im/pictures/687366/419f90dd_original.jpg?aki_policy=x_medium'
      .bottomRow
        .priceTitle
          %span.roomPrice ¥ 34417
          %span.roomTitle パリのまるまる貸切
        .reviewLine
          %span.reviewStar ★★★★★
          %span.reviewNumber レビュー114件
    .room-container
      = image_tag 'https://a0.muscache.com/im/pictures/687366/419f90dd_original.jpg?aki_policy=x_medium'
      .bottomRow
        .priceTitle
          %span.roomPrice ¥ 34417
          %span.roomTitle パリのまるまる貸切
        .reviewLine
          %span.reviewStar ★★★★★
          %span.reviewNumber レビュー114件
    .room-container
      = image_tag 'https://a0.muscache.com/im/pictures/687366/419f90dd_original.jpg?aki_policy=x_medium'
      .bottomRow
        .priceTitle
          %span.roomPrice ¥ 34417
          %span.roomTitle パリのまるまる貸切
        .reviewLine
          %span.reviewStar ★★★★★
          %span.reviewNumber レビュー114件

  .exes-container
    %h3 体験
    .exe-container
      = image_tag 'https://a2.muscache.com/im/pictures/97d7bd03-dcb4-4645-a677-8e23a9025c11.jpg?aki_policy=poster'
      .bottomRow
        .priceTitle
          %span.roomPrice ¥ 32267
          %span.roomTitle Clubbing & culture・2日
    .exe-container
      = image_tag 'https://a2.muscache.com/im/pictures/97d7bd03-dcb4-4645-a677-8e23a9025c11.jpg?aki_policy=poster'
      .bottomRow
        .priceTitle
          %span.roomPrice ¥ 32267
          %span.roomTitle Clubbing & culture・2日
    .exe-container
      = image_tag 'https://a2.muscache.com/im/pictures/97d7bd03-dcb4-4645-a677-8e23a9025c11.jpg?aki_policy=poster'
      .bottomRow
        .priceTitle
          %span.roomPrice ¥ 32267
          %span.roomTitle Clubbing & culture・2日
    .exe-container
      = image_tag 'https://a2.muscache.com/im/pictures/97d7bd03-dcb4-4645-a677-8e23a9025c11.jpg?aki_policy=poster'
      .bottomRow
        .priceTitle
          %span.roomPrice ¥ 32267
          %span.roomTitle Clubbing & culture・2日

  .rooms-container
    %h3 お家
    .room-container
      = image_tag 'https://a0.muscache.com/im/pictures/28233228/11223dd2_original.jpg?aki_policy=x_medium'
      .bottomRow
        .priceTitle
          %span.roomPrice ¥ 34417
          %span.roomTitle パリのまるまる貸切
        .reviewLine
          %span.reviewStar ★★★★★
          %span.reviewNumber レビュー114件
    .room-container
      = image_tag 'https://a0.muscache.com/im/pictures/28233228/11223dd2_original.jpg?aki_policy=x_medium'
      .bottomRow
        .priceTitle
          %span.roomPrice ¥ 34417
          %span.roomTitle パリのまるまる貸切
        .reviewLine
          %span.reviewStar ★★★★★
          %span.reviewNumber レビュー114件
    .room-container
      = image_tag 'https://a0.muscache.com/im/pictures/28233228/11223dd2_original.jpg?aki_policy=x_medium'
      .bottomRow
        .priceTitle
          %span.roomPrice ¥ 34417
          %span.roomTitle パリのまるまる貸切
        .reviewLine
          %span.reviewStar ★★★★★
          %span.reviewNumber レビュー114件

  .dests-container
    %h3 注目の目的地
    .dest-container
      = image_tag 'https://a2.muscache.com/ac/pictures/7bff51c1-3c35-47a5-a86c-5ea75ab6be6c.jpg?interpolation=lanczos-none&size=large&output-format=jpg&output-quality=70'
      .bottomRow
        %span ロスアンゼルス
    .dest-container
      = image_tag 'https://a2.muscache.com/ac/pictures/7bff51c1-3c35-47a5-a86c-5ea75ab6be6c.jpg?interpolation=lanczos-none&size=large&output-format=jpg&output-quality=70'
      .bottomRow
        %span ロスアンゼルス
    .dest-container
      = image_tag 'https://a2.muscache.com/ac/pictures/7bff51c1-3c35-47a5-a86c-5ea75ab6be6c.jpg?interpolation=lanczos-none&size=large&output-format=jpg&output-quality=70'
      .bottomRow
        %span ロスアンゼルス
    .dest-container
      = image_tag 'https://a2.muscache.com/ac/pictures/7bff51c1-3c35-47a5-a86c-5ea75ab6be6c.jpg?interpolation=lanczos-none&size=large&output-format=jpg&output-quality=70'
      .bottomRow
        %span ロスアンゼルス
    .dest-container
      = image_tag 'https://a2.muscache.com/ac/pictures/7bff51c1-3c35-47a5-a86c-5ea75ab6be6c.jpg?interpolation=lanczos-none&size=large&output-format=jpg&output-quality=70'
      .bottomRow
        %span ロスアンゼルス
    .dest-container
      = image_tag 'https://a2.muscache.com/ac/pictures/7bff51c1-3c35-47a5-a86c-5ea75ab6be6c.jpg?interpolation=lanczos-none&size=large&output-format=jpg&output-quality=70'
      .bottomRow
        %span ロスアンゼルス

  .container-fluid
    -# %h4 社会貢献体験
    .row-fluid
      .col-md-2
        = image_tag 'https://a2.muscache.com/ac/pictures/7bff51c1-3c35-47a5-a86c-5ea75ab6be6c.jpg?interpolation=lanczos-none&size=large&output-format=jpg&output-quality=70'
      .col-md-2
        = image_tag 'https://a2.muscache.com/ac/pictures/7bff51c1-3c35-47a5-a86c-5ea75ab6be6c.jpg?interpolation=lanczos-none&size=large&output-format=jpg&output-quality=70'
      .col-md-2
        = image_tag 'https://a2.muscache.com/ac/pictures/7bff51c1-3c35-47a5-a86c-5ea75ab6be6c.jpg?interpolation=lanczos-none&size=large&output-format=jpg&output-quality=70'
      .col-md-2
        = image_tag 'https://a2.muscache.com/ac/pictures/7bff51c1-3c35-47a5-a86c-5ea75ab6be6c.jpg?interpolation=lanczos-none&size=large&output-format=jpg&output-quality=70'
      .col-md-2
        = image_tag 'https://a2.muscache.com/ac/pictures/7bff51c1-3c35-47a5-a86c-5ea75ab6be6c.jpg?interpolation=lanczos-none&size=large&output-format=jpg&output-quality=70'
      .col-md-2
        = image_tag 'https://a2.muscache.com/ac/pictures/7bff51c1-3c35-47a5-a86c-5ea75ab6be6c.jpg?interpolation=lanczos-none&size=large&output-format=jpg&output-quality=70'


= render 'footer'
