= render 'header'
= render 'card_swipe'

.page-container
  = render 'search_form'

  .container-fluid
    .row
      .h4 東京のお家
      - @rooms.each_with_index do |room, i|
        = link_to "/rooms/#{i+1}" do
          .col-md-4.margin-48px.color-484848
            = image_tag room.image
            %strong.text-left ¥
            %strong.text-lert= room.price
            %span.text-left
            %span.text-left= room.name

  //自動ローディング
  -# .container-fluid
  -#   .row#index-row
  -#     - 3.times do |i|
  -#       .col-md-4.margin-48px
  -#         = link_to room_path do
  -#           = image_tag @rooms[i].images.first.image_url
  -#           %p.margin-12px= @rooms[i].name

= render 'footer'
