%header
  .pull-left
    = link_to "/" do
      .icon_box
        = image_tag '/images/favicon.ico.png', class: 'img-responsive'

  - if current_user
    .pull-right.height_100
      = link_to destroy_user_session_path, method: :delete, class: "header_link_container" do
        .header_content
          %span ログアウト
  - else
    .pull-right.height_100
      .header_content.header_link_container
        %button.btn.btn-default.user-avator{"data-target": "#modal_login", "data-toggle": "modal", type: "button"} ログイン
  - unless current_user
    .pull-right
      .header_content.header_link_container
        %button.btn.btn-default.user-avator{"data-target": "#modal_signup", "data-toggle": "modal", type: "button"} アカウント作成
  .pull-right
    =link_to "/signup_login", class: "header_link_container" do
      .header_content
        %span ヘルプ
  .pull-right
    =link_to new_room_path, class: "header_link_container" do
      .header_content
        %span ホストになる


/ Modal login
#modal_login.modal.fade{"aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title.text-center ログインして下さい
      .modal-body
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .form-group
            .field
              = f.label :email
              %br/
              = f.email_field :email, autofocus: true, class: 'form-control'
            .field
              = f.label :password
              %br/
              = f.password_field :password, autocomplete: "off", class: 'form-control'
            - if devise_mapping.rememberable?
              .field
                = f.check_box :remember_me
                = f.label :remember_me
            .actions
              = f.submit value: 'ログイン', class: 'btn btn-block btn-danger btn-lg form-control'

        = render "devise/shared/links"
        %span アカウントをお持ちではないですか？
        %button.btn.btn-default.user-avator{"data-target": "#modal_signup", "data-toggle": "modal", type: "button"}  登録

/ Modal signup
#modal_signup.modal.fade{"aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title.text-center 登録してください
      .modal-body
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          .form-group
            .field
              = f.label :name
              %br/
              = f.text_field :name, autofocus: true, class: 'form-control'
            .field
              = f.label :email
              %br/
              = f.email_field :email, class: 'form-control'
            .field
              = f.label :password
              - if @minimum_password_length
                %em
                  (#{@minimum_password_length} characters minimum)
              %br/
              = f.password_field :password, autocomplete: "off", class: 'form-control'
            .field
              = f.label :password_confirmation
              %br/
              = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
            .actions
              = f.submit "登録", class: 'btn btn-block btn-danger btn-lg form-control'
        = render "devise/shared/links"




.main
  .sidebar
    .panel-body
      .row
        .col-lg-2.col-md-12.space-sm-1.text-center-sm.text-center-md
          %span 日付
        .col-lg-9.col-md-11
          .row
            .col-md-4.col-sm-6.space-1-sm
              %input.checkin{name: "checkin", placeholder: "チェックイン"}
            .col-md-4.col-sm-6.space-1-sm
              %input.checkout{name: "checkout", placeholder: "チェックアウト"}
            .col-md-4.col-sm-12.space-1-sm
              %button.GuestPickerTrigger
                %span 宿泊1人
      %hr
    .panel-body
      .row
        .col-lg-2.col-md-12.text-center-sm.text-center-md.space-sm-1
          %span 価格帯
        .col-lg-9.col-md-11
          %input#price-slide{"data-slider-max" => "100000", "data-slider-min" => "1000", "data-slider-step" => "100", "data-slider-value" => "[1000,100000]", :type => "text", :value => ""}/
          .row
            .col-lg-6.text-left
              %span ¥1200
            .col-lg-6.text-right
              %span ¥100000+
      %hr
    .search-results
      .section-container
        .row.result-container
          .col-md-6
            = link_to '#host-profile', class: 'search-result-link' do
              = image_tag 'room/greece_2.jpg', class: 'search-result-image'
            .info-container
              = link_to '/rooms/1' do
                .row.price-review
                  .col-md-6
                    %spna ¥46958
                  .col-md-6.text-right
                    %span ★★★★★レビュー105件
                %span Malibu Dream Airstream
                %br
                %span まるまる貸切・ベッド1台・3人
          .col-md-6
            = link_to '#host-profile', class: 'search-result-link' do
              = image_tag 'room/greece_2.jpg', class: 'search-result-image'
            .info-container
              = link_to '/rooms/1' do
                .row.price-review
                  .col-md-6
                    %spna ¥46958
                  .col-md-6.text-right
                    %span ★★★★★レビュー105件
                %span Malibu Dream Airstream
                %br
                %span まるまる貸切・ベッド1台・3人
        .row.result-container
          .col-md-6
            = link_to '#host-profile', class: 'search-result-link' do
              = image_tag 'room/greece_2.jpg', class: 'search-result-image'
            .info-container
              = link_to '/rooms/1' do
                .row.price-review
                  .col-md-6
                    %spna ¥46958
                  .col-md-6.text-right
                    %span ★★★★★レビュー105件
                %span Malibu Dream Airstream
                %br
                %span まるまる貸切・ベッド1台・3人
          .col-md-6
            = link_to '#host-profile', class: 'search-result-link' do
              = image_tag 'room/greece_2.jpg', class: 'search-result-image'
            .info-container
              = link_to '/rooms/1' do
                .row.price-review
                  .col-md-6
                    %spna ¥46958
                  .col-md-6.text-right
                    %span ★★★★★レビュー105件
                %span Malibu Dream Airstream
                %br
                %span まるまる貸切・ベッド1台・3人
        .row.result-container
          .col-md-6
            = link_to '#host-profile', class: 'search-result-link' do
              = image_tag 'room/greece_2.jpg', class: 'search-result-image'
            .info-container
              = link_to '/rooms/1' do
                .row.price-review
                  .col-md-6
                    %spna ¥46958
                  .col-md-6.text-right
                    %span ★★★★★レビュー105件
                %span Malibu Dream Airstream
                %br
                %span まるまる貸切・ベッド1台・3人
          .col-md-6
            = link_to '#host-profile', class: 'search-result-link' do
              = image_tag 'room/greece_2.jpg', class: 'search-result-image'
            .info-container
              = link_to '/rooms/1' do
                .row.price-review
                  .col-md-6
                    %spna ¥46958
                  .col-md-6.text-right
                    %span ★★★★★レビュー105件
                %span Malibu Dream Airstream
                %br
                %span まるまる貸切・ベッド1台・3人
        .row.result-container
          .col-md-6
            = link_to '#host-profile', class: 'search-result-link' do
              = image_tag 'room/greece_2.jpg', class: 'search-result-image'
            .info-container
              = link_to '/rooms/1' do
                .row.price-review
                  .col-md-6
                    %spna ¥46958
                  .col-md-6.text-right
                    %span ★★★★★レビュー105件
                %span Malibu Dream Airstream
                %br
                %span まるまる貸切・ベッド1台・3人
          .col-md-6
            = link_to '#host-profile', class: 'search-result-link' do
              = image_tag 'room/greece_2.jpg', class: 'search-result-image'
            .info-container
              = link_to '/rooms/1' do
                .row.price-review
                  .col-md-6
                    %spna ¥46958
                  .col-md-6.text-right
                    %span ★★★★★レビュー105件
                %span Malibu Dream Airstream
                %br
                %span まるまる貸切・ベッド1台・3人
        .row.result-container
          .col-md-6
            = link_to '#host-profile', class: 'search-result-link' do
              = image_tag 'room/greece_2.jpg', class: 'search-result-image'
            .info-container
              = link_to '/rooms/1' do
                .row.price-review
                  .col-md-6
                    %spna ¥46958
                  .col-md-6.text-right
                    %span ★★★★★レビュー105件
                %span Malibu Dream Airstream
                %br
                %span まるまる貸切・ベッド1台・3人
          .col-md-6
            = link_to '#host-profile', class: 'search-result-link' do
              = image_tag 'room/greece_2.jpg', class: 'search-result-image'
            .info-container
              = link_to '/rooms/1' do
                .row.price-review
                  .col-md-6
                    %spna ¥46958
                  .col-md-6.text-right
                    %span ★★★★★レビュー105件
                %span Malibu Dream Airstream
                %br
                %span まるまる貸切・ベッド1台・3人
        .row.result-container
          .col-md-6
            = link_to '#host-profile', class: 'search-result-link' do
              = image_tag 'room/greece_2.jpg', class: 'search-result-image'
            .info-container
              = link_to '/rooms/1' do
                .row.price-review
                  .col-md-6
                    %spna ¥46958
                  .col-md-6.text-right
                    %span ★★★★★レビュー105件
                %span Malibu Dream Airstream
                %br
                %span まるまる貸切・ベッド1台・3人
          .col-md-6
            = link_to '#host-profile', class: 'search-result-link' do
              = image_tag 'room/greece_2.jpg', class: 'search-result-image'
            .info-container
              = link_to '/rooms/1' do
                .row.price-review
                  .col-md-6
                    %spna ¥46958
                  .col-md-6.text-right
                    %span ★★★★★レビュー105件
                %span Malibu Dream Airstream
                %br
                %span まるまる貸切・ベッド1台・3人

  .map
    .search-results-map#searchMap

:javascript
  function initMap() {
    // Create the map.
    var map = new google.maps.Map(document.getElementById('searchMap'), {
      zoom: 14,
      center: {lat:#{@latitude}, lng: #{@longitude}},
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var cityCircle = new google.maps.Circle({
      strokeColor: '#FF0000',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#FF0000',
      fillOpacity: 0.35,
      map: map,
      center: {lat: 43.0594286, lng: 141.3004602},
      radius: 500
  });

  }

%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyAXbvOKObMqITgrrvsCSne77MDEA3T9f8o&callback=initMap"}
