!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Airbnb
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    -# = stylesheet_link_tag '//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css'
    -# = stylesheet_link_tag '//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css'
    = favicon_link_tag
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag '//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js'
  %body
    = yield
