!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Airbnb
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'http://cdn.jsdelivr.net/momentjs/latest/moment.min.js'
    = stylesheet_link_tag 'http://cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css'
    = javascript_include_tag 'http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js'
    = stylesheet_link_tag 'http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.6.0/bootstrap-slider.min.js'
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.6.0/css/bootstrap-slider.min.css'
    = favicon_link_tag
    = csrf_meta_tags

  %body
    = yield
